<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Building_Managment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DbContext" connectionString="data source=Server;initial catalog=RentalManagerDB;user id=Rental;password=0922792724;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Building_Managment.Properties.Settings.ConnectionString"
      connectionString="Data Source=Server;Initial Catalog=c;User ID=Rent;Password=0922792724"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Building_Managment.Properties.Settings>
      <setting name="ServerName" serializeAs="String">
        <value>Server</value>
      </setting>
      <setting name="DataBase" serializeAs="String">
        <value>RentalManagerDB</value>
      </setting>
      <setting name="Mode" serializeAs="String">
        <value>SQL</value>
      </setting>
      <setting name="UserId" serializeAs="String">
        <value>Rent</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>0922792724</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>Mahdi</value>
      </setting>
    </Building_Managment.Properties.Settings>
  </userSettings>
</configuration>